name: Generate documentation including all libraries

on:
    push:
        branches:
            - master
    
    workflow_dispatch:

permissions:
    contents: read
    pull-requests: read
    issues: read

concurrency:
    group: pages
    cancel-in-progress: false

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Deploying"
